[submodule "packages/contract/lib/forge-std"]
	path = packages/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contract/lib/account-abstraction"]
	path = packages/contract/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.7
[submodule "packages/contract/lib/openzeppelin-contracts-upgradeable"]
	path = packages/contract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/contract/lib/v3-core"]
	path = packages/contract/lib/v3-core
	url = https://github.com/uniswap/v3-core
	branch = 0.8
[submodule "packages/contract/lib/v3-periphery"]
	path = packages/contract/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
	branch = 0.8
[submodule "packages/contract/lib/p256-verifier"]
	path = packages/contract/lib/p256-verifier
	url = https://github.com/daimo-eth/p256-verifier
	branch = solc
