@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 320px;
  font: 16px system-ui, sans-serif;
  line-height: 1.5;
  color: rgb(17 24 39); /* text-gray-900 */
}

body {
  position: relative;
}
