@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 320px;
  line-height: 1.5;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
  position: relative;
}

/** Adjust the root font size for large screens, medium, and mobile. */
@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
}

/** Hack: avoid double scrollbar on the bridge page. */

.MuiScopedCssBaseline-root {
  max-height: none !important;
}

.MuiBox-root > .MuiButtonBase-root:nth-child(2) {
  display: none !important;
}
