name: CI

on:
  push:
    branches: [master]
  pull_request:

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - run: npm ci && npm test

  test-contract:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - env:
          BASE_SEPOLIA_RPC: ${{ secrets.BASE_SEPOLIA_RPC }}
        run: |
          forge test -vvv --fork-url "$BASE_SEPOLIA_RPC"
          forge coverage --report lcov --fork-url "$BASE_SEPOLIA_RPC"
          git diff --exit-code
        working-directory: ./packages/contract

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - run: |
          npm ci
          npm run lint && npm run codegen
        # Re-enable once Wagmi fixes their bug: git diff --exit-code
        # https://github.com/wevm/wagmi/issues/2528

  maestro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: npm ci

      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          packager: npm
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Run Maestro test suite
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          RUN_ID: ${{ github.event.number || github.run_id }}
        run: |
          echo "BRANCH_NAME=${BRANCH_NAME}" >> .env.maestro
          echo "RUN_ID=${RUN_ID}" >> .env.maestro
          npm run build:maestro
        working-directory: ./apps/daimo-mobile
